.profile {
    width: 100%;
    background: #202020;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.profile__title {
    width: 90%;
    margin: 74px 0 0 0;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    transition: all .2s ease-in-out;
}

.profile__form {
    width: 410px;
    margin: 110px 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.profile__input-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile__input-container:first-child {
    border-bottom: 1px solid #424242;
}

.profile__label {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 45px;
}

.profile__input {
    outline: none;
    border: none;
    background: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    color: #fff
}

.profile__input:focus {
    outline: none;
}


.profile__submit {
    margin: 205px 0 0 0;
    padding: 0;
    border: none;
    background: transparent;
    color: #fff;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    transition: opacity 0.3s ease-in-out;
}

.profile__submit:hover {
    cursor: pointer;
    opacity: 0.65;
}

.profile__logout {
    margin: 16px 0 50px 0;
    padding: 0;
    border: none;
    background: transparent;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #EE3465;
    transition: opacity 0.3s ease-in-out;
}

.profile__logout:hover {
    cursor: pointer;
    opacity: 0.65;
}

@media screen and (max-width: 1000px) {
    .profile__title {
        margin-top: 235px;
    }

    .profile__form {
        margin-top: 80px;
    }

    .profile__submit {
        margin-top: 200px;
    }
}

@media screen and (max-width: 575px) {
    .profile__form {
        width: 260px;
    }

    .profile__title {
        margin-top: 70px;
    }

    .profile__form {
        margin-top: 65px;
    }

    .profile__submit {
        margin-top: 365px;
    }
}