.logo {
    width: 38px;
    height: 38px;
    background-image: url(../../images/logo.svg);
    background-size: cover;
    box-sizing: border-box;
}

.logo:hover {
    cursor: pointer;
    opacity: 0.6;
}

.logo_area_landing-header {
    grid-area: headerLogo;
}

.logo_area_auth {
    margin: 70px 0 0 0;
    padding: 0;
}

.logo_area_header {
    margin: 0;

    padding: 0;
}