.logo {
    width: 38px;
    height: 38px;
    background-image: url(../../images/logo.svg);
    background-size: cover;
    box-sizing: border-box;
}

.logo_area_header {
    grid-area: headerLogo;
}