.nav-tab {
    position: absolute;
    top: -2px;
    right: -260px;
    width: 250px;
    height: 36px;
    color: #fff;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.nav-tab_active {
    opacity: 1;
}

.nav-tab__elements {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-tab__element {
    width: 75px;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
}

.nav-tab__link {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.nav-tab__span {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;

    color: #fff;
}